body {
  background-color:white;
  color: white;
  font-size: larger;
  width: 100%;
}
.header {
  position:sticky;
  box-shadow: 0 5px 15px #423B31;
  top:0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 80px;
}
