body {
  background-color: rgb(29, 28, 28);
  color: white;
  font-size: larger;
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #423b31;
  box-shadow: 0px 5px 10px rgba(143, 136, 136, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#header #logo {
  height: 100%;
}

#header #logo img {
  height: 100%;
}

/* Search bar styles */
.search-form {
  flex: 1;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input[type="text"] {
  width: 50%;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-form button[type="submit"] {
  height: 40px;
  width: 40px;
  background-color: inherit;
  border: none;
  outline: none;
  color: white;
}

.search-form button[type="submit"]:hover {
  cursor: pointer;
}

.search-form button[type="submit"] i {
  font-size: 20px;
}

/* Navbar styles */
.navbar #nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.navbar #nav li {
  margin-left: 20px;
}

.navbar #nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.navbar #nav li a:hover {
  border-bottom: 2px solid white;
}

.navbar #nav li#theme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #8f9779;
}

.navbar #nav li#theme i {
  font-size: 20px;
  color: white;
}
/* align everything horizontally */
#ecommerce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  height: 50px;
  color: inherit;
  border: solid #ccc;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: 0px 5px 10px rgba(143, 136, 136, 0.2);
}

/* navigation styling */
.navigation {
  margin: 0;
  font-size: 20px;
}
.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navigation i {
  margin-right: 5px;
}
.dropdown-menu {
  top: 100%;
  left: 0;
  z-index: 1;
  list-style: none;
  padding: 15px;
  margin: 0;
  background-color: inherit;
  border: 1px groove #363535;
  width: 100px;
  font-size: 20px;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu li a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu li a:hover {
  color: black;
  text-decoration: underline;
}

.menu.with-dropdown {
  border-bottom: 1px solid #ccc;
  width: calc(100% - 2px);
}

/* extras styling */
.extras ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.extras li {
  margin-left: 20px;
}
.extras a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

/* styling for other body parts */

/* styling for newsletter */

#newsletter {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(47, 47, 156);
}

#newsletter .newstext {
  margin: 0;
  width: 100%;
  color: white;
}

#newsletter .newstext h4 {
  margin-bottom: 10px;
}

#newsletter .newstext p {
  margin-bottom: 20px;
}

#newsletter .newstext span {
  font-weight: bold;
  color: #ff9800;
}

#newsletter .newsletterform {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter input {
  padding: 0 0.125em;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  outline: none;
  width: 60%;
  height: 40px;
  font-size: 14px;
}

#newsletter button {
  padding: 12px 20px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 0 5px 5px 0;
  border: none;
  border-left: none;
  height: 40px;
  width: 150px;
}

#newsletter button:hover {
  cursor: pointer;
  background-color: #3e8e41;
}
/* styling for footer section */

#footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
  background-color:inherit;
  color:inherit;
  box-shadow: 0px 5px 10px rgba(143, 136, 136, 0.2);
  bottom:0px;
  left:0;
  right:0;

}

.footer {
  padding-top: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color:rgb(42, 42, 168)
}
.footer a:not(:last-child) {
  margin-right: 10px;
}


#copyright {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* styling for scroll button */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#scroll-to-top.show {
  opacity: 5;
}

