body {
  background-color: black;
  color: white;
  font-size: larger;
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

* {
  margin: 0 0 0 2px;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  height: 80px;
  background-color: #423b31;
  box-shadow: 0px 5px 10px rgba(143, 136, 136, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

#header #logo {
  height: 100%;
}

#header #logo img {
  height: 100%;
}

/* Search bar styles */
.search-form {
  flex: 1;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input[type="text"] {
  width: 50%;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-form button[type="submit"] {
  height: 40px;
  width: 40px;
  background-color: inherit;
  border: none;
  outline: none;
  color: white;
}

.search-form button[type="submit"]:hover {
  cursor: pointer;
}

.search-form button[type="submit"] i {
  font-size: 20px;
}

/* Navbar styles */
.navbar #nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.navbar #nav li {
  margin-left: 20px;
}

.navbar #nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.navbar #nav li a:hover {
  border-bottom: 2px solid white;
}

.navbar #nav li#theme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #8f9779;
}

.navbar #nav li#theme i {
  font-size: 20px;
  color: white;
}
/* align everything horizontally */
#ecommerce {
  position: sticky;
  width: 100%;
  display: flex;
  top: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  height: 50px;
  color: inherit;
  border-bottom: solid 1px #ccc;
  box-shadow: 0px 5px 10px rgba(143, 136, 136, 0.2);
}

/* navigation styling */
.navigation {
  margin: 0;
  font-size: 20px;
}
.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navigation i {
  margin-right: 5px;
}
.dropdown-menu {
  top: 130px;
  list-style: none;
  padding: 5px;
  margin: 0;
  background-color: inherit;
  border: 1px groove #363535;
  width: 100px;
  font-size: 24px;
  position: absolute;
  box-shadow: 0px 5px 10px rgba(143, 136, 136, 0.2);
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu li a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu li a:hover {
  color: #3e8e41;
  text-decoration: underline;
}

.menu.with-dropdown {
  border-bottom: 1px solid #ccc;
  width: calc(100% - 2px);
}
.menuHidden {
  display: none;
}
/* Styling for the search results */
.search-results {
  position: fixed;
  top: 150px;
  left: 100px;
  justify-content: center;
  align-items: center;
  border: 1px transparent;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
  width: 50%;
}
.search-results button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3874ff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* extras styling */
.extras ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.extras li {
  margin-left: 20px;
}
.extras a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s ease;
}
.extras a:hover,
.extras a.active {
  color: #088178;
  text-decoration: underline;
}
/* styling for other body parts */
/* Styling for banner */
.banner {
  background-image: url("images/Banner.png");
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  background-position: top 25% right 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 2px solid blueviolet;
}
.banner h1 {
  padding-bottom: 15px;
  color: inherit;
  font-size: 40px;
}
.banner h1 span {
  color: #ff9800;
}
.banner h2 {
  padding-bottom: 15px;
  color: #088178;
}
.banner h3 {
  padding-bottom: 15px;
  color: rgb(223, 167, 28);
}
.banner button {
  background-color: #3874ff;
  color: white;
  border-radius: 10px;
  border-style: none;
  margin: 0px 0px 100px 50px;
  padding: 14px 24px;
  font-size: inherit;
  font-weight: 700;
}
.banner button:hover {
  background-color: #0d2e74;
}
/* styling for products section */
.featuredproducts h1 {
  text-align: center;
  font-size: 24px;
  color:inherit;
}
#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Lucida Sans";
  font-size: 20px;
}

.product {
  background-color: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product p {
  margin: 10px 0;
}

.product button {
  background-color: #3874ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: "Lucida Sans";
  padding: 5px 10px;
  transition: background-color 0.2s ease-in-out;
}
.product .purchase #cart box-icon {
  margin-right: 0px;
  align-items: flex-start;
  font-size: 20px;
}

.product button:hover {
  background-color: #088178;
}

.product .favorite {
  cursor: pointer;
  font-size: 24px;
  margin-top: auto;
  align-items: center;
}

/* styling for newsletter */

#newsletter {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #3874ff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#newsletter .newstext {
  margin: 0;
  width: 100%;
  color: white;
}

#newsletter .newstext h4 {
  margin-bottom: 10px;
}

#newsletter .newstext p {
  margin-bottom: 20px;
}

#newsletter .newstext span {
  font-weight: bold;
  color: #ff9800;
}

#newsletter .newsletterform {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter input {
  padding: 0 0.125em;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  outline: none;
  width: 60%;
  height: 40px;
  font-size: 14px;
}

#newsletter button {
  padding: 12px 20px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 0 5px 5px 0;
  border: none;
  border-left: none;
  height: 40px;
  width: 150px;
}

#newsletter button:hover {
  cursor: pointer;
  background-color: #3e8e41;
}

/* styling for footer section */

#footer-wrapper {
  background-color: #423b31;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
  background-color: inherit;
  color: inherit;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  bottom: 0px;
  left: 0;
  right: 0;
}

.footer {
  padding-top: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #088178;
}
.footer a:not(:last-child) {
  margin-right: 10px;
}

#copyright {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}
/* styling for scroll button */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#scroll-to-top.show {
  opacity: 1;
}
/* style shopping cart */
#nav #cart {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
#cart .cartname {
  margin-left: 5px;
  font-size: 20px;
}
#cart .badge {
  display: none;
}
#cart .active {
  background-color: #3874ff;
  position: absolute;
  top: -15px;
  right: 45px;
  /* background-color: transparent; */
  color: inherit;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}
/* styling for chatbutton */
#chat-button {
  border: none;
  background-color: #3e8e41;
  color: inherit;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  top: 10px;
}
.btnActive {
  border: none;
  background-color: #4caf50;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#chat-button:hover {
  background-color: #3e8e41;
}
#remove:hover {
  transform: scale(1.1);
}

#chatbox-container {
  left: 5px;
  top: 1500px;
  bottom: 0;
  margin: 20;
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}

#chatbox-container * {
  box-sizing: border-box;
  z-index: 1;
}

#topheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  color: black;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

h1 {
  margin: 10px;
  font-size: 22px;
  color: white;
}

#remove {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 9999;
}

#chatbox {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  height: 83%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#chatlog {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 80%;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 20%;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  bottom: 0;
}

#userInput {
  flex-grow: 1;
  padding: 2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  height: 100%;
  width: 100%;
  outline: none;
}

#chat {
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  right: 8px;
  width: 10%;
  bottom: 0;
  height: 100%;
}

#chat:hover {
  background-color: #388e3c;
}
.btnHidden {
  display: none;
}
.userMessage {
  width: 75%;
  background-color: #0d2e74;
  color:white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  float: left;
  clear: both;
  font-size: 15px;
  text-align: left;
}

.supportMessage {
  width: 75%;
  background-color: #4caf50;
  color: white;
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
  float: right;
  clear: both;
  text-align: left;
}
